/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
	padding: 20px;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/
h1 {
	font-family: 'Raleway', sans-serif;
}

.recipe h1 {
	font-size: 18px;
}

.first {
	background-image: url(images/chlebicek.jpg);
}

.second {
	background-image: url(images/tacos.jpg);
}

.third {
	background-image: url(images/cizrna.jpg);
}

.fourth {
	background-image: url(images/burger.jpg);
}

.recipe {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: lightgrey;
	background-blend-mode: multiply;
	min-height: 90px;
	padding: 10px;
	border-top: 1px solid white;
}

.text {
	display: flex;
	justify-content: space-between;
}

.recipe {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

p {
	margin: 0;
}

h1 {
	margin-bottom: 0;
}

.biggest {
	background-image: url(images/salat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
	padding: 10px;
}

.biggest h1 {
	font-size: 28px;
}

/* version for tablets */
@media screen and (min-width: 480px) {
	.container {
		display: flex;
		flex-wrap: wrap;
	}

	.right {
		display: flex;
		flex-wrap: wrap;
	}

	.recipe {
		flex: 1 1 50%;
		min-height: 150px;
		padding: 20px;
	}

	.biggest {
		flex: 1 1 100%;
		min-height: 250px;
	}

	.first,
	.third {
		border-right: 1px solid white;
	}

	.recipe h1 {
		font-size: 22px;
	}

	.biggest h1 {
		font-size: 36px;
	}

}
/* version for desktop */
@media screen and (min-width: 860px) {
	.right {
		flex: 1 1 calc((100% / 3) * 2);
	}

	.biggest {
		flex: 1 1 calc(100% / 3);
		min-height: 400px;
		border-right: 1px solid white;
	}

	.recipe h1 {
		font-size: 28px;
	}

	.biggest h1 {
		font-size: 48px;
	}
}